# Ignore Python virtual environments
venv/
.env/

# Ignore big data and model files
*.h5
*.hdf5
*.pkl
*.npz
*.npy

#ignore image files
faces_in_things/

# Ignore temporary files
__pycache__/
*.pyc
*.log

# Ignore IDE settings
.vscode/
.idea/
